USE [master]
GO
/****** Object:  Database [TicketSelling1]    Script Date: 4/11/2020 9:11:44 PM ******/
CREATE DATABASE [TicketSelling1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketSelling1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TicketSelling1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketSelling1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TicketSelling1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketSelling1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketSelling1]
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 4/11/2020 9:11:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Trip]  AS ('TID'+right('00000000'+CONVERT([varchar](8),[ID]),(8))) PERSISTED NOT NULL,
	[Source] [varchar](50) NOT NULL,
	[Destination] [varchar](50) NOT NULL,
	[Date_Trip] [date] NOT NULL,
	[Start_Time] [time](7) NOT NULL,
	[Arrival_Time] [time](7) NOT NULL,
	[Duration] [time](7) NULL,
	[Total_Seat] [int] NOT NULL,
	[Available_Seat] [int] NULL,
	[Price] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[ID_Driver] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Trip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
